{% extends "base.html" %}
{% block content%}

<div class="container">
    <div class="row">
          <img class="profile-img" src="{{url_for('static',filename='img/401.png')}}"
                    alt="401">
          <span class="text-center"><h3>Anyway, you can <a href="{{url_for('site_login')}}">log in</a> and everyone will be happy</h3></span>          
    </div>
</div>
{% endblock %}