{% extends "base.html" %}
{% block content%}

<div class="container">
    <div class="row">
          <img class="profile-img" src="{{url_for('static',filename='img/404.png')}}"
                    alt="404">
          <span class="text-center"><h3>Have no idea what this is? Return back <a href="{{url_for('site_login')}}">home</a>!</h3></span>          
    </div>
</div>
{% endblock %}