    {% extends "base.html" %}
    {% block content%}

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/dashboard.css')}}">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Edit your profile<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome!</h1>
          
            <form action="/dashboard" method="post" name="dashboard" enctype=multipart/form-data>
            <div class="col-xs-6 col-sm-3 placeholder full_height padded">
              {% if photo_path %}
                 <img width="300" height="300" class="img-responsive" src="{{ photo_path }}" alt="Profile photo">
              {% else %}
                 <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="center-img img-responsive" alt="Profile photo">
              {% endif %}
              <div class="text-center padded"><h4>Upload profile photo</h4></div>
              {{ form.profilePhoto(class='center padded') }}
              {% if formerrors['profilePhotoErr'] %}
                <p class="form-error text-center">{{ formerrors['profilePhotoErr'] }}</p>
              {% endif %}
            </div>                        
            {{ form.csrf_token }}
                <h2 class="sub-header">Edit Your Profile</h2>
                 <div class="table-responsive">
                  <table class="table table-striped my_table">
                    <tr>
                      <td class="my_td">E-mail</td>
                      <td class="my_td">{{ form.email(size=40) }}</td><td class="form-error-table text-center my_td">{{ formerrors['emailErr'] }}</td>
                    </tr>
                    <tr>
                      <td class="my_td">First name</td>
                      <td class="my_td">{{ form.firstname(size=40) }}</td><td class="form-error-table text-center my_td">{{ formerrors['firstnameErr'] }} </td>
                    </tr>
                    <tr>
                      <td class="my_td">Last name</td>
                      <td class="my_td">{{ form.lastname(size=40) }}</td><td class="form-error-table text-center my_td">{{ formerrors['lastnameErr'] }} </td>
                    </tr>
                    <tr>
                      <td class="my_td">Phone</td>
                      <td class="my_td">{{ form.phone(size=40) }}</td><td class="form-error-table text-center my_td">{{ formerrors['phoneErr'] }} </td>
                    </tr>
                    </table>
                    </div>
                    <h2 class="sub-header">Change password</h2>
                    <div class="table-responsive">
                      <table class="table table-striped my_table">
                      <tr>
                        <td class="my_td">Old</td>
                        <td class="my_td">{{ form.oldPassword(size=40) }}</td><td class="form-error-table text-center my_td">{{ formerrors['oldPwErr'] }} </td>
                      </tr>
                      <tr>
                        <td class="my_td">New</td>
                        <td class="my_td">{{ form.newPassword(size=40) }}
                        {% if newPwErrs %}
                          <td class="form-error-table text-center my_td">
                          New password
                          <ul>
                          {% for err, msg in newPwErrs.items() %}
                            {% if msg %} 
                            <li>{{ msg }} </li>
                            {% endif %}  
                          {% endfor %}
                          </ul>
                          </td>
                        {% endif %}
                      </tr>
                      <tr>
                        <td></td>
                        <td><input type="submit" class="btn btn-primary" value="Save Changes"></td>
                      </tr>
                      </table>
                    </div>  
                    <span class="center">{{ msg }}</span>
  </form>
           
        </div>
      </div>
    </div>
    
    {% endblock %}
