{% extends "base.html" %}
{% block content%}

<div id="barwrap">
  <div class="bar">
  <span id="head-image"><img width="30px" height="30px" src="{{url_for('static',filename='img/email.png')}}" alt=""></span>
  <span class="bar-text">{{ barMsg }}</span>
  <span id="otherimg"></span>
  <span id="ok"><a href="#"><img src="{{url_for('static',filename='img/x.png')}}"></a></span>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <img class="profile-img" src="{{url_for('static',filename='img/lock.png')}}"
                    alt="SafeChat logo">
                    <h1 class="logo-title">SafeChat</h3>
                <form action="/" method="post" name="login" class="form-signin">
                 {{ form.csrf_token }}          
                <div class="form-input">{{ form.email(class_="form-control", placeholder="E-mail") }} <span class="form-error"> {{ emailErr }}</span></div>
                <div class="form-input">{{ form.password(class_="form-control", placeholder="Password") }} <span class="form-error">{{ pwErr }}</span></div>
                <div> 
                {% if captcha_path %}
                <div class="text-center padded">
                Please, rewrite the text below
                </div>
                <img class="center" src="{{ captcha_path }}">
                {{ form.captcha(class="center") }}
                {{ form.captcha_expected }}
                <div class="form-error-table padded stretch text-center">{{ captchaErr }}</div>
                {% endif %}
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                </form>
            </div>
            <a href="/register" class="new-account">Create an account</a>
            <br>
	    <div class="top-padded text-center">
            <div>Download our <a class="inline" href="https://bitbucket.org/security-project-5/safechat1.0/raw/62b08592691390625ecb73603e43bea4a1c4febb/Protocol.pdf" class="new-account">protocol</a></div>
            <div>See the source code of <a class="inline" href="https://bitbucket.org/security-project-5/safechat1.0/src" class="new-account">C++ server, Java client and Python web app</a>
            </div>
    </div>     
</div>
{% endblock %}
