#barwrap {
  margin-bottom: 0px; /* space between the bar and your content */
}

.bar-text {
  text-align: center;
  line-height: 50px;
  vertical-align: middle;  
}

.bar{
  text-align: center;
  
  background-color: #F7F7F7;
  max-height: 100px; /* set it at will according to your message's length in small devices */   
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  color: #333;
  border-bottom:thick ridge rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:  0px 2px 13px 0.5px rgba(0, 0, 0, 0.3);
  box-shadow:  0px 2px 13px 0.5px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 3008;
}

#head-image{
  float: left;
  margin-top: 6px;
  margin-left: 10px;
}

#text{
  position: relative;
  /* top: 8px; */ 
}

#otherimg{

/* Your code here for that section */

}

#ok{
  float: right;
  margin-top: 6px;
  margin-right: 10px;
  font-size: 25px;
}

#ok a {
  color: #3EAAEE; 
  text-decoration: none;
}