{% extends "base.html" %}
{% block content%}

<div id="barwrap">
  <div class="bar">
  <span id="head-image"><img width="30px" height="30px" src="{{url_for('static',filename='img/email.png')}}" alt=""></span>
  <span class="bar-text">{{ barMsg }}</span>
  <span id="otherimg"></span>
  <span id="ok"><a href="#"><img src="{{url_for('static',filename='img/x.png')}}"></a></span>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <img class="profile-img" src="{{url_for('static',filename='img/lock.png')}}"
                    alt="SafeChat logo">
                    <h1 class="logo-title">SafeChat</h3>
                <form action="/" method="post" name="login" class="form-signin">
                <div class="form-input">{{ emailInput|safe }} <span class="form-error"> {% print(emailErr) %}</span></div>
                <div class="form-input">{{ pwInput|safe }} <span class="form-error">{% print(pwErr) %}</span></div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <label class="checkbox center-block center">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                </form>
            </div>
            <a href="/register" class="new-account">Create an account</a>
            <a href="/forgot-password" class="need-help">Forgot password? </a>
        </div>
    </div>
</div>
{% endblock %}