{% extends "base.html" %}
{% block content%}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <img class="profile-img" src="{{url_for('static',filename='img/lock.png')}}"
                    alt="SafeChat logo">
                    <h1 class="logo-title">Create an account</h3>
                <form action="/register" method="post" name="register" class="form-signin">
                <div class="form-input req">{{ emailInput|safe }}</div>
                  <span class="form-error">{% print(emailErr) %}</span>
                <div class="form-input req">{{ firstnameInput|safe }}</div>
                  <span class="form-error">{% print(firstnameErr) %}</span>
                <div class="form-input req">{{ lastnameInput|safe }}</div>
                  <span class="form-error">{% print(lastnameErr) %}</span>
                <div class="form-input">{{ phoneInput|safe }}</div>
                  <span class="form-error">{% print(phoneErr) %}</span>
                <div class="form-input req"><input type="password" name="password" class="form-control" placeholder="Password" required></div>
                  <span class="form-error">
                  <ul class="lowindent-ul">
                  {% if pwErrs %}
                  {% for err, msg in pwErrs.items() %}
                    {% if msg and not msg == '' %} 
                      <li>{{ msg }} </li>
                    {% endif %}  
                  {% endfor %}
                  {% endif %}
                  </ul>
                  </span>
                <div class="form-input req"><input type="password" name="confirm-password" class="form-control" placeholder="Confirm password" required></div> 
                  <span class="form-error">{% print(confPwErr) %}</span>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}